*.vsidx
.vs/RenderingEngine/v17/.suo
*.lock
*.db
*.bin
*.ipch
*.json
*.dll
*.sqlite
*.pdb
*.exe
*.ini
include/assimp/.editorconfig
*.inl
include/assimp
include/glm
include/freetype
include/GL
include/glad
include/GLFW
include/imgui
include/irrKlang
include/KHR
include/stb
include/image_DXT.c
include/image_helper.c
include/SOIL.c
include/stb_image_aug.c
lib/assimp-vc143-mtd.lib
lib/assimp.lib
lib/freetype.lib
lib/glew32s.lib
lib/glfw3.lib
lib/irrKlang.lib
lib/SOIL.lib
*.sln
*.vcxproj
*.filters
*.user
x64
src/glad.c
src/stb_image.cpp
include/image_helper.h
include/image_DXT.h
include/ft2build.h
configuration/root_directory.h
include/SOIL.h
include/stb_image.h
include/stb_image_aug.h
.vs
bin
configuration
dlls
lib
resources/objects/dinosaur
resources/objects/sibenik
resources/objects/rock
resources/objects/sponza
resources/textures
resources/objects/planet
include/imguizmo
resources/objects/planet/mars.png
resources/objects/porche
render.png
